<app-navigation-bar
              (loginClicked)="onClickLogin()"
              (registerClicked)="onClickRegister()"
              (profileClicked)="onClickProfile()"
              (logoutClicked)="onClickLogout()"
                width=25%>
</app-navigation-bar>
<div class="center-div">
  <app-skill-select-menu [skills]="skills"
                     (select)="onSkillSelected($event)"></app-skill-select-menu>
  <app-people-list [people]="people"
                    [selectedSkill]="selectedSkill"
                    (personClicked)="onPersonClicked($event)"></app-people-list>
</div>
