<div class="container my-5">

  <!--
  added the novalidate attribute to the form element, by default browsers perform their own validation
  and show their own errorMsg popups. Since we want to handle the form validation ourselves we can switch
  off this behaviour by adding novalidate to the form element.
  -->

  <form [formGroup]="form" novalidate>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <h2>User Login</h2>
        <hr>
      </div>
    </div>


    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="form-group"
             [ngClass]="{
          'has-danger': email.invalid && (email.dirty || email.touched),
          'has-success': email.valid && (email.dirty || email.touched)
          }">
          <label>Email</label>
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="you@example.com"
                 required
                 autofocus>
          <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
            <p *ngIf="email.errors.required">A man needs an email</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="form-group"
             [ngClass]="{
                'has-danger': password.invalid && (password.dirty || password.touched),
                'has-success': password.valid && (password.dirty || password.touched)
           }">
          <label>Password</label>
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Password"
                 reverse="true"
                 required>
          <div class="form-control-feedback" *ngIf="password.invalid && (password.dirty || password.touched)">
            <p *ngIf="password.errors.required">A man must provide a password to the many faced god</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <button type="submit"
                class="btn btn-success"
                (click)="onClickLogin()"
                [ngClass]='{disabled: form.invalid}'>

          <i class="fa fa-user-plus"></i>
          Login
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="form-control-feedback"  *ngIf="isError" style="color: red">
          <p>{{errorMsg}}</p>
        </div>
      </div>
    </div>
  </form>

</div>
