<header class="header">
  <select [(ngModel)]="selectedSkill" required>
   <option *ngFor="let skill of skills" [ngValue]="skill" > {{skill.title}} </option>
 </select>
 <!--
<h1>Skills Portal</h1>
 <md-input-container>
   <input mdInput placeholder="Skill"
          [mdAutocomplete]="auto"
          [formControl]="skillCtrl">
 </md-input-container>

 <md-autocomplete #auto="mdAutocomplete" >
   <md-option *ngFor="let skill of filteredSkills | async" [value]="skill.title" (onSelectionChange)="onChangeSelection(skill)" (onSelect)="onSelect()">
     {{ skill.title }}
   </md-option>
 </md-autocomplete>
 </header>-->

<button  (click)="onSelect(skill)">Select</button>
